/* -----------------------------------------------------------------------------
--Title      : Player
--Created on : 6 janv. 2017, 23:32:42
----------------------------------------------------------------------------- */
div#timeline {
	width: 100%;
	height: 10px;
	background-color: #000;
}

div#cursor {
	margin-left: 0%;
	width: 2px;
	height: 6px;
	background-color: red;
}

/* -----------------------------------------------------------------------------
--common
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
--section
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
--article
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
--aside
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
--footer
----------------------------------------------------------------------------- */

